{% extends 'base.html.twig' %}

{% block title %}Snipe.gg{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <!-- Start "Home Page Content" -->
    <div class="home">
        <div class="container">
            <!-- Start "Title & Subtitle" -->
            <div class="row text-center">
                <div class="col-12">
                    <div class="title">
                        <h1 class="h1">SNIPE.GG</h1>
                    </div>
                    <div class="subtitle">
                        <p class="fs-4 fst-italic">
                            Sniping <strong>Sn0W3838</strong> has never been so easy
                        </p>
                    </div>
                </div>
            </div>
            <!-- End "Title & Subtitle" -->

            <!-- Start "Card Player" -->
            <div class="row">
                <div class="col-12">
                    <div class="card d-flex m-auto" style="width: 18rem;">
                        <img src="{{ 'https://ddragon.leagueoflegends.com/cdn/13.9.1/img/profileicon/' ~ idIcone ~ '.png' }}" class="d-flex m-auto mt-2 card-img-top card-img img-responsive" alt="IMG PLAYER">
                        <div class="card-body">
                            <p class="text-center fs-4">{{ summoner.name }}</p>
                            <p class="card-text text-center">Check out {{ summoner.name }} latest games and ladder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End "Card Player" -->
    </div>
    <!-- End "Home Page Content" -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
