@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

body {
    background: rgb(4,27,79);
    background: -moz-linear-gradient(45deg, rgba(4,27,79,1) 0%, rgba(14,48,126,1) 35%, rgba(27,66,157,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(4,27,79,1) 0%, rgba(14,48,126,1) 35%, rgba(27,66,157,1) 100%);
    background: linear-gradient(45deg, rgba(4,27,79,1) 0%, rgba(14,48,126,1) 35%, rgba(27,66,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#041b4f",endColorstr="#1b429d",GradientType=1);
}

footer {
    color: white;
}