* {
    color: white;
}

.home {
    .card {
        background-color: #1B429D;

        &:hover {
            border-color: white;
            cursor: pointer;
        }

        .card-img {
            height: 100px;
            width: 100px;
        }
    }
}