<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        {% block body %}{% endblock %}

        <!-- Start "Footer Content" -->
        <div class="footer mt-auto">
            <div class="container">
            <footer class="my-4">
                <p class="text-center">&copy; 2022 Snipe.gg - SmashScharrer-Dev</p>
            </footer>
            </div>
        </div>
        <!-- End "Footer Content" -->
    </body>
</html>
